html {
  background: #ad5389; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to bottom,
    #3c1053,
    #7c3a62
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to bottom,
    #3c1053,
    #7c3a62
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  color: white;
  background-repeat: no-repeat;
  height: 100%;
  margin: 0;
  background-attachment: fixed;
}
body {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
}

h1 {
  text-align: center;
  font-family: "Kaushan Script", cursive;
}

h2 {
  text-decoration: underline;
}

.header-section,
.controls-section {
  text-align: center;
  padding-bottom: 20px;
}

.content-section {
  /* margin-left: auto;
  margin-right: auto;
  width: 80%;
  max-width: 1000px; */
  padding-bottom: 100px;
}

button,
.platform-submit {
  background-color: transparent;
  color: white;
  font-size: 16px;
  border: 3px solid white;
  border-radius: 40px;
  width: 130px;
  height: 40px;
  margin: 10 px;
}

button:hover,
.platform-submit:hover {
  background-color: white;
  color: #3c1053;
  font-size: 16px;
  border: 3px solid transparent;
  border-radius: 40px;
  width: 130px;
  height: 40px;
  margin: 10 px;
}

.js-header-section > * {
  margin-left: 10px;
  margin-right: 10px;
}

form {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: auto;
  text-align: center;
}

form > * {
  margin-bottom: 10px;
  margin-top: 10px;
}

ul {
  list-style-type: none;
  padding-inline-start: 0px;
}

.post {
  padding-left: 30px;
  padding-right: 30px;
  padding-bottom: 30px;
  padding-top: 30px;
  background: rgb(40, 11, 56, 0.4);
  border-radius: 10px;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
  width: 60%;
  max-width: 800px;
}

.filter-legend {
  margin-bottom: 10px;
}

.post-info > * {
  display: inline-block;
}

.banner {
  text-align: center;
}

footer {
  text-align: center;
  margin-bottom: 50px;
}

a:link,
a:visited {
  color: white;
  text-decoration: underline;
  cursor: auto;
}

a:link:hover,
a:visited:hover {
  color: wheat;
}

.alert-section {
  text-align: center;
}
